@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('./variables.css');

:root {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.content {
  grid-area: content;
  height: 200vh;
}
